*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background: #eee;
    margin-top: 20px;
}

.card-wrapper {
    position: relative;
    overflow: hidden;
}

.card-wrapper .card-img {
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-out;
}

.card-wrapper .card-img img {
    transition: all 0.3s ease-in-out;
    border-radius: 0.25rem;
    border-radius: 0.25rem;
}

.card-wrapper .card-body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    padding: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    transform: translateX(-100%);
    transition: 0.8s;
    z-index: 11;
}

.card-wrapper:before {
    content: "";
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    right: 100%;
    z-index: 9;
    transition: 0.8s;
    background: #007bff;
    border-radius: 0.25rem;
}

.card-wrapper:hover:before {
    right: 0;
}

.card-wrapper h3,
.card-wrapper p {
    color: #fff;
}

.card-wrapper .read-more {
    color: #fff;
    background: none;
    border: none;
}

.card-wrapper .read-more:hover {
    text-decoration: underline;

}

.card-wrapper .read-more:after {
    color: #fff;
}

.card-wrapper:hover .card-body {
    visibility: visible;
    transform: translateX(0px);
}

.card-wrapper:hover .backgound-color {
    right: 0;
}

.mb-1-9,
.my-1-9 {
    margin-bottom: 1.9rem;
}

@media (min-width: 992px) {

    .mb-lg-0,
    .my-lg-0 {
        margin-bottom: 0 !important;
    }
}

.read-more:after {
    content: '\f0a9';
    font-family: Font Awesome\ 5 Free;
    font-weight: 600;
    padding-left: 8px;
    font-weight: 900;
    color: #007bff;
    vertical-align: middle;
}

.gradient-brand-color {
    background-image: -webkit-linear-gradient(0deg, #007bff 0%, #035ec0 100%);
    background-image: -ms-linear-gradient(0deg, #007bff 0%, #035ec0 100%);
    color: #fff;
}

.contact-info__wrapper {
    overflow: hidden;
    border-radius: .625rem .625rem 0 0
}

@media (min-width: 1024px) {
    .contact-info__wrapper {
        border-radius: 0 .625rem .625rem 0;
        padding: 5rem !important
    }
}

.contact-info__list span.position-absolute {
    left: 0
}

.z-index-101 {
    z-index: 101;
}

.list-style--none {
    list-style: none;
}

.contact__wrapper {
    background-color: #fff;
    border-radius: 0 0 .625rem .625rem
}

@media (min-width: 1024px) {
    .contact__wrapper {
        border-radius: .625rem 0 .625rem .625rem
    }
}

@media (min-width: 1024px) {
    .contact-form__wrapper {
        padding: 5rem !important
    }
}

.shadow-lg,
.shadow-lg--on-hover:hover {
    box-shadow: 0 1rem 3rem rgba(132, 138, 163, 0.1) !important;
}